@import 'reset';
@import 'noselect';
@import 'fontsmoothing';
@import 'bourbon';

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("Roboto.ttf") format("truetype");
}

[data-player] {
  @include nested-reset;
  @include no-select;
  @include font-smoothing;
  @include transform(translate3d(0,0,0));
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  overflow: hidden;
  font-size: 100%;
  font-family: "Roboto", "Open Sans", Arial, sans-serif;
  text-shadow: 0 0 0;
  box-sizing: border-box;

  &:focus {
    outline: 0;
  }

  * {
    max-width: none;
    box-sizing: inherit;
    float: none;
  }

  div {
    display: block;
  }

  &.fullscreen {
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
  }

  &.nocursor {
    cursor: none;
  }
}

.clappr-style {
  display: none !important;
}
